/* SignUpLoginComponent.css */

/* Styling for the overlay (full-screen background) */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the form container */
  .form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
   button[type="submit"] {
    background-color: #28A745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
  }
  .bttn{
    background-color: rgb(10, 134, 156);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(15, 16, 15);
    font-size: 10px;
  }
  
   
  